
p {
    text-align: center;
    font-size: 32px;
    font-family: cursive, arial, sans-serif;
    font-weight: bolder;
    }
img {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 5%;
}
#botao1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    border-radius: 5%;
    padding: 5px;
    border-color: gray;
    font-size: 24px;
    }
#botao2 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 5%;
    padding: 5px;
    border-color: gray;
    font-size: 24px;
}
#botao1:hover{
    background-color: pink;
}
